
body {
    background-image: url("../images/connectwork/connectwork.png");
}

#meterArea {
    height: 50px;
    background: linear-gradient(to right, green , red);
    width: calc(100% - 50px);
    border-radius: 5px;
}

#arrow {
    height: 50px;
    margin-left: calc(.5 * (100% - 50px));
}

#arrowArea {
    padding: 0;
}

h1 {
    color: white;
}